$success_color: green;
$alert_color: yellow;
$error_color: red;

.visualcr {
  border: 1px dotted;

  &_button {
    position: fixed;
    bottom: 50px;
    right: 0;
    background: linear-gradient(180deg,#4eb5e5 0,#389ed5);
    border-radius: 5px 0px 0px 5px;
    padding-left: 16px;
    border: none;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: Open Sans,sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.2);
    cursor: pointer;

    /* Just for presentation */


    &:after {
      content: "";
      width: 0;
      height: 0;
      display: block;
      border: 9px solid #187dbc;
      border-right: 16px solid transparent;
      position: absolute;
      opacity: .6;
      left: 0;
      margin-right: 11px;
      top: 0;
      border-radius: 5px 0 0 5px;
    }
  }


  &_tooltip {
    text-align: left;

    & a {
      display: block;
      color: aqua;
    }
  }

  &_content {
    &::before {
      content: '>';
      color: red;
      padding-right: 10px;
    }

    &__success {
      &::before {
        color: $success_color;
      }
    }

    &__error {
      &::before {
        color: $error_color;
      }
    }

    &__alert {
      &::before {
        color: $alert_color;
      }
    }
  }


  &__success {
    border-color: green;
    -webkit-box-shadow: 0px 0px 10px $success_color;
    -moz-box-shadow: 0px 0px 10px $success_color;
    box-shadow: 0px 0px 10px $success_color;
  }

  &__alert {
    border-color: yellow;
    -webkit-box-shadow: 0px 0px 10px $alert_color;
    -moz-box-shadow: 0px 0px 10px $alert_color;
    box-shadow: 0px 0px 10px $alert_color;
  }

  &__error {
    border-color: red;
    -webkit-box-shadow: 0px 0px 10px $error_color;
    -moz-box-shadow: 0px 0px 10px $error_color;
    box-shadow: 0px 0px 10px $error_color;
  }

}
